#cards {
  display: flex;
  justify-content: space-around;
}

.btn-warning {
  margin: 10px;
  margin-left: 20px;
}

.card {
  margin: 10px;
}

.btn {
  margin-bottom: 12px;
}

.priority {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: rgb(44, 44, 49);
  color: white;
}

.footerLinks {
  a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }
}
